
<form asp-action="Scan" method="post">
    <label for="ip">Enter IP: </label>
    <input type="text" id="ip" name="ip" placeholder="192.168.1" /><br />

    <label for="ports">Enter Ports (comma-separated): </label>
    <input type="text" id="ports" name="ports" placeholder="80,443,22,25" /><br />

    <input type="submit" value="Scan" />
</form>

<div>
    <h3>Scan Result</h3>
    <p>@ViewData["Result"]</p>
</div>
